body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #22c64b;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}


nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#hero {
    background-image: url(img/IQ.jpg);
    background-size: cover;
    text-align: center;
    color: #f59c0c;
    padding: 100px 0;
}


h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}




.cta-button {
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #ff4500;
}



section {
    padding: 50px;
    background-color: #f8f8f8;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


button[type="submit"]:hover {
    background-color: #ff4500;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
